<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="fabClick()">
          <md-icon>arrow_back</md-icon>
        </md-button>
        <h2>
          <span>Back</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Save">
          <md-icon>style</md-icon>
        </md-button>
        <h2>
          <span style="cursor: pointer;">Get TravelCards!</span>
        </h2>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon>more_vert</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div flex layout="row" layout-align="center">
      <md-list flex="45">
        <md-subheader class="md-no-sticky">Your TravelCards</md-subheader>
        <md-list-item finished-loading-items class=" md-3-line" ng-repeat="att in basketAttractions">
        <md-checkbox></md-checkbox>
          <div class="md-list-item-text" layout="column">
            <h3>{{att.name}}</h3>
            <p>{{att.location}}</p>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
</div>